
# Operators:

That entity which operates one or more than one operands.

## Types:

- Arithmetic operators.
- Comparison Operators.
- Logical Operator.
- Assignment Operator.
- Bitwise Operators.
- Membership Operator.
- Identity Operator.

## Arithmetic operations example:

- Basic operations

In [ ]:
# arithmetic addition operation
# operands
a = 10
b = 20

print(a + b)

30

In [ ]:

# arithmetic subtraction operation
# operands
a = 10
b = 20

print(b - a)

10

In [ ]:
# arithmetic multiplication operation
# operands
a = 10
b = 20

print(a * b)

200

In [ ]:
# arithmetic division operation
# operands
a = 10
b = 20

print(b / a)

2.0

- Special operations

In [ ]:
# arithmetic floor division operation
# operands
a = 7
b = 20

# result will give only the quotient part
print(b // a)

2

In [ ]:
# arithmetic reminder determining operation

# operands
a = 7
b = 20
# only gives the reminder part

print(b % a)

6

In [ ]:
# arithmetic exponential operation
# operands
a = 10
b = 20
# gives the answer of 20^10
print(b ** a)

10240000000000

- Special note

In Python we can also handle very large number like +♾️ and -♾️. And we do this things with the help of float data type.

In [ ]:
Positive_infinity = float("inf")
print(Positive_infinity)

inf

In [ ]:
Negative_infinity = float("-inf")
print(Negative_infinity)

-inf

- We have one more notable thing called 'nan'. In Python, 'nan' stands for "Not a Number." It is a special floating-point value used to represent undefined or unrepresentable numerical results, such as 0 divided by 0 or the square root of a negative number.

In [ ]:
nan_number = float('nan')
print(nan_number)

nan

## Comparison operations example:

- Basic operations

In [ ]:
# equality check.
# check whether two numbers are equal or not.
a = 7
b = 20

# equal to sign. result will be false because 7 and 20 are not equal.
print(a==b)
# not equal to sign. result will be true because 7 and 20 are not equal.
print(a!=b)

False
True

In [ ]:
# greater than operator

a = 7
b = 20
print(a>b)

# greater than equal to operator

print(a>=b)

False
False

In [ ]:
# less than operator

a = 7
b = 20

print(a<b)

# less than equal to operator

print(a<=b)

True
True


## Assignment Operator example:
- It is required for assigning some values in variables

In [ ]:
# single '=' is used

x = 100 # assign a value
print(x)

100

### Assign and increment:

In [ ]:
x = x + 5 # 100 = 100 + 5 == 105

print(x)

105

- we can also write it as

In [ ]:
x = 100
x+= 5
print(x)

105

### Assign and decrement:

In [ ]:
x = 100
x = x - 5
print(x)

95

- we can also write it as

In [ ]:
x = 100
x-= 5
print(x)

95

### Assign and multiply:

In [ ]:
x = 100
x = x * 5
print(x)

500

- we can also write it as

In [ ]:
x = 100
x *= 5
print(x)

500

### Assign and devide:

In [ ]:
x = 100
x = x / 5
print(x)

20.0

- we can also write it as

In [ ]:
x = 100
x /= 5
print(x)

20.0

###In short we can say x = x + c == x += c. And it is same for every operator like x = x - c == x -= c | x = x * c == x *= c | x = x / c == x /= c etc.

## Logical Operators:
- Logical operators in Python are used to combine multiple conditions and evaluate them as a single boolean expression. They return either True or False.

- Example of Logical And: returns true if both conditions are true.

In [ ]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

- Example of Logical OR: returns true if any of one conditions are true

In [ ]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

- Example of Logical NOT: make the opposite of an expression.

In [ ]:
print(not True)
print(not False)
print(not 5>7)

False
True
True

- Example of Logical XOR: if both the expression are different only than the answer will be true otherwise it will be false.

In [ ]:
print(True ^ True)
print(True ^ False)
print(False ^ True)
print(False ^ False)

False
True
True
False

## Bitwise Operator:

In Python, bitwise operators are used to perform operations on integers at the bit level. This means they manipulate individual bits of the binary representation of the integers.

###Bitwise And:
It does and operation at the bit levels.

In [ ]:
a = 5
b = 2
print(a&b)

0

- Step 1: Integers are being converted to binary in this case, 5 -> 101 and 2 -> 010

- Step 2: and operation is been performed for every bit in this case.

      101
      010
     -----
      000
     -----
- Step 3: convert that answer into decimal.

And that's why we are getting 0 in output.

###Bitwise OR:
It does OR operation at the bit levels.

In [ ]:
a = 5
b = 2
print(a|b)

7

- Step 1: Integers are being converted to binary in this case, 5 -> 101 and 2 -> 010

- Step 2: or operation is been performed for every bit in this case.

      101
      010
     -----
      111
     -----
- Step 3: convert that answer into decimal.

And that's why we are getting 7 in output.

###Bitwise Left shift:
It shifts the digit towards left side at binary level.

In [ ]:
num = 5
print(num<<1)

10

- Step 1: Integers are being converted to binary in this case, 5 -> 0101

- Step 2: left shift operation is been performed at the binary digit.

      0101
After left shift for one times. <<
      1010
     -------

- Step 3: convert that answer into decimal.

And that's why we are getting 10 in output.

Also there is a noticeable fact is that for every left shift we will be getting the double of that previous number.

###Bitwise Right shift:
It shifts the digit towards right side at binary level.

In [ ]:
num = 10
print(num>>1)

5

- Step 1: Integers are being converted to binary in this case, 10 -> 1010

- Step 2: right shift operation is been performed at the binary digit.

      1010
After right shift for one times. >>
      0101
     -------

- Step 3: convert that answer into decimal.

And that's why we are getting 5 in output.

Also there is a noticeable fact is that for every right shift we will be getting the half of that previous number.

## Membership Operator:
In Python, there are two types of membership operators: 'in' and 'not in'. These operators are used to test whether a value or variable is a member of a sequence, such as a string, list, or tuple.

In [1]:
#Membership
my_list = [1,2,3,4,5]

print( 5 in my_list)
print( 7 in my_list)
print( 5 not in my_list)

True
False
False

## Identity Operators:
The identity operator is defined as a comparison operator in Python, used to determine whether two variables refer to the same object in memory. It has two forms: "is" and "is not". The "is" operator returns True if both variables point to the same object, while "is not" returns True if they point to different objects.

In [ ]:
x = [1, 2, 3]
y = x

print(x is y)  # Output: True (x and y refer to the same list)

z = [1, 2, 3]

print(x is z)  # Output: False (x and z are different lists, even though they have the same values)

True
False

##Operator Precedence In Python:
Operator precedence in Python determines the order in which operators are evaluated when multiple operators are used in a single expression. It helps clarify how expressions are parsed and executed.

Below is the operator precedence in Python from highest to lowest:

Parentheses: The highest precedence is given to expressions enclosed in parentheses. You can use parentheses to explicitly specify the order of evaluation.

Exponentiation: The ** operator is used for exponentiation.

Unary Plus and Minus: The unary + and - operators indicate positive and negative numbers, respectively.

Multiplication, Division, Floor Division, and Modulus: These operators include * (multiplication), / (division), // (floor division), and % (modulus).

Addition and Subtraction: The + and - operators perform addition and subtraction operations.

Bitwise Shifts: Bitwise left shift (<<) and bitwise right shift (>>) operators have the same precedence.

Bitwise AND: The & operator is used for bitwise AND operations.

Bitwise XOR: The ^ operator is used for bitwise XOR (exclusive OR) operations.

Bitwise OR: The | operator is used for bitwise OR operations.

Comparison Operators: These operators include <, <=, >, >=, == (equality), and != (inequality). They are used for comparing values.

Membership Operators: These operators, in and not in, are used to test for membership in sequences, such as lists or strings.

Identity Operators: These operators, is and is not, are used to compare the identity of objects.

Logical NOT: The not operator is used for logical negation.

Logical AND: The and operator performs logical AND operations.

Logical OR: The or operator performs logical OR operations.

In [ ]:
result = 4+5*6
print(result)

34